rabbitMQservice/userDataFormat.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="data_user">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="company" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema> 